extends layout

block content

  div.jumbotron
   h1 TOPAN 
   p.lead Tomatoes and Orchard Producers Association of nigeria was birthed as a result of the training organized by Federal Ministry of Agriculture for youth with a passion for Agriculture, has developed a network of farmers within states in Nigeria, and it is constituted... 
   p
    a(class='btn btn-lg btn-success', href='#' role='button') Read more

  div.row
   div.col-lg-4
    h2 Mission
    p TOPAN aims to reduce hunger and malnutrition, contribute to abatement efforts to reduce greenhouse gases contributing to global warming, promote sustainable livelihood, and enhance Tomatoes and Orchard farming (food security/ food production) through advocacy, research, training and capacity development, and partnership with farmers and stakeholders in Nigeria. 
    p
     a(class='btn btn-primary', href='#' role='button') View details

   div.col-lg-4
    h2 Goal
    p TOPAN main goal aims to increase food security, access to safe, nutritious and sufficient Tomatoes and Orchard which contributes to the United Nations Millennium Development Goal #1 to eradicate extreme poverty and hunger and ensure environmental sustainability. Our objectives are;
    p
     a(class='btn btn-primary', href='#' role='button') Continue

   div.col-lg-4
    h2 Vision
    p To provide cutting-edge professional farming techniques and services to improve Horticulture farming in  Nigeria 
    p
     a(class='btn btn-primary', href='#' role='button') View details


